*{
    margin: 0;
    padding: 0;
}

body,html{
    height: 100%;
    width: 100%;
    font-family: "Roboto", sans-serif;
    background-color: rgb(53, 52, 54);
    color: white;
}

.container{
    width: 470px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    
}

.container h1{
   margin-bottom: 30px;
    
}

.display{
    width: 420px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    align-items: center;

}

input{
    width: 85%;
    font-size: 20px;
    padding: 10px 4px;
    border-radius: 10px 0 0 10px ;
    outline: none;
    border: none;
    
}

img{
    width: 30px;
    margin-left: 10px;
    cursor: pointer;
}

span{
    color: green;
    border-bottom: 4px solid green;
}

button{
    margin-top: 20px;
    font-size: 20px;
    padding: 10px 10px;
    border-radius: 10px;
    cursor: pointer;
}

button:hover{
    background-color: green;
    color: white;
}